// Custom
$primary: #E92569;
$dark: #0a0a0a;
$light: #efefef;
$medium: #767676;
$input-text: #c7c7c7;


// bootstrap
$theme-colors: (
    "primary": $primary,
    "dark": $dark,
    "light": $light,
);

$nav-link-color: $primary;
$nav-tabs-link-active-color: $medium;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";