.card-body {
    .btn-primary {
        background-color: $primary;
        width: 100%;
        border: none;
        position: relative;
        text-transform: uppercase;
        color: $white;
    }

    .btn-primary::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        border-radius: 0 3px 3px 0;
        background-color: $medium;
    }
}