$nav-link-color: $primary;
$nav-tabs-link-active-color: $medium;
$nav-tabs-link-active-bg: $white;


.navbar-brand {
    color: $primary !important;
    font-family: "Playfair Display", serif;
}

.navbar-toggler {
    border: none !important;
}

.d-flex {
    .me-2 {
        margin-right: 0 !important;
        border: none;
    }

    .btn-outline-success {
        background-color: $primary;
        color: $white;
        border: none;
        border-radius: none;
    }
}